body,
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

span {
    display: block;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: middle;
    /*display: block;*/
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


/*input{
	border: none;
}*/


/*设置左浮动*/

.fl {
    float: left;
}


/*设置右浮动*/

.fr {
    float: right;
}


/*清除浮动*/

.clr_fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}