* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list {
    width: 1160px;
    margin: 0 auto;
    font-size: 14px;
}

.list li {
    width: 200px;
    padding: 10px;
    float: left;
    margin: 0 10px 10px 0;
    height: 310px;
    position: relative;
}

.list li p {
    width: 200px;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
    font-size: 12px;
    margin-top: 20px;
    font-family: UniqloBold;
    font-weight: bold;
}

.list li img {
    width: 200px;
    height: 200px;
    display: block;
}

.list li span {
    display: block;
    font-size: 14px;
    font-family: UniqloBold;
    font-weight: bold;
    margin-top: 20px;
}

.list li:hover {
    box-shadow: 0 0 15px #4E4E4E;
    padding: 10px;
}

button {
    background-color: #ffffff;
    outline: 0;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border: 0px solid red;
    padding: 10px;
    font-family: UniqloBold;
    font-weight: bold;
}

.but-b {
    width: 1280px;
    height: 50px;
}

button:hover {
    box-shadow: 0 0 10px #4E4E4E;
    padding: 10px;
}